/** Solamente se puede modificar este fichero! Usa con astucia los selectores para aplicar las propiedades CSS adecuadas dependiendo del caso  */

/** Ejemplo: Si quisiera pintar el h1 de rojo pondría */

/* h1 {
    color: red;
} */

.published-date {
    color: #F77D00;
}

body .bg-black {
    background-color: rgba(132, 0, 197, 0.5);
}

.wysiwyg h4 {
    text-align: center;
}

.logos-social-networks {
    justify-content: center;
}